<div class="addressContainer">
<div class="contactMain col-7 p-5">
    <!-- <form>
        <div>
            <label>Email:</label>
            <input type="email" placeholder="Email id" name ="email"[(ngModel)]="email">
            <div>{{email}}</div>
        </div>

        <div>
            <label>Mobile:</label>
            <input type="tel" placeholder="Mobile Number" name="mobile" [(ngModel)]="mobile">
            <div>{{mobile}}</div>
        </div>

        <div>
            <label>DOB:</label>
            <input type="date" placeholder="DOB" name="date"[(ngModel)]="date">
            <div>{{date}}</div>
        </div>
    </form>
    <button class="btn btn-primary">click</button> -->
    <form class="col-6">
        <div class="form-group">
            <label for="exampleInputName1">Name</label>
            <input type="text" class="form-control" id="exampleInputName1" placeholder="Enter name" name="name" [(ngModel)]="name">
            <div>{{name}}</div>
          </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" [(ngModel)]="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <div>{{email}}</div>
        </div>

        <div class="form-group">
            <label for="exampleInputMobile1">Mobile Number</label>
            <input type="text" class="form-control" id="exampleInputMobile1" aria-describedby="emailHelp" placeholder="Enter mobile number" name="mobile" [(ngModel)]="mobile">
            <small id="mobileHelp" class="form-text text-muted">We'll never share your mobile number with anyone else.</small>
            <div>{{email}}</div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea2">Your message</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Type your message" name="message" [(ngModel)]="message"></textarea>
          </div>
          <div class="submit">
            <button type="submit" class="btn btn-primary">Submit</button>   
          </div>
        
      </form>
    </div>


<div class="address">
  <h5>CALL US</h5>
 8086 0092 00
 <br>
 8056 0092 01
<br>
<br>
<h5>LOCATION</h5>
Visit Us
119, St Marys Rd,
RA Puram, Trustpakkam,
Abiramapuram, Chennai,
Tamil Nadu 600018
<br>
<br>
<h5>WORKING HOURS</h5>
Mon-Fri ........ 10am - 4pm <br>
Sat,Sun .......  Closed

</div>
</div>
