<div class="SidenavMain">
    <button routerLink = "" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="MenuButton bordertop">Home</button>
    <!-- <button (click)="routeToAbout()" routerLinkActive="active"class="MenuButton">About</button> -->
    <button routerLink = "about"routerLinkActive="active"class="MenuButton">About</button>
    <button routerLink = "gallery"routerLinkActive="active"class="MenuButton">Gallery</button>
    <button routerLink = "courses"routerLinkActive="active"class="MenuButton">Courses Available</button>
    <button routerLink = "placements"routerLinkActive="active"class="MenuButton">Placements</button>
    <button routerLink = "contact"routerLinkActive="active"class="MenuButton">Contact us</button>
    <button routerLink = "/main"routerLinkActive="active"class="MenuButton">Main</button>
    <button routerLink = "/user"routerLinkActive="active"class="MenuButton">User</button>
</div>