/* You can add global styles to this file, and also import other style files */
html,body{
    background: linear-gradient(45deg, #be6f6f, transparent);
    height: 100%;
    margin: 0px;
    float:left;
    width: 100%;
}

.active{
    background-color: brown !important;
    color: white !important;
}